@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #eef9bf;
    width:100%;
    display:flex;
    flex-direction: column;
}
.header{
    width:100%;
    height: 150px;
    display:flex;
    padding-bottom:7px;
    justify-content: center;
    align-items: center;
}
header .title-parrot{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #75B79E;
}
.container{
    display:flex;
    margin: 0 auto;
    width:100%;
    max-width:906px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:34px;
}

.flipped{
    transform: rotateY(180deg);
}
.card{
    position: relative;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

.card-back{
    transform: rotateY(180deg);
}
.card img{
    width: 100px;
    height: 100px;
}

@media (max-width:335px){

    header .title-parrot{
        font-size: 36px;
        line-height: 42px;
    }
}